.plan-item-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 4px;
}

.alarm {
    font-size: 20px;
}

.dist-plan-container {
    height: fit-content;
    min-height: 500px;
    width: 350px;
    background-color: hsla(194, 66%, 77%, 0.44);
    border-radius: 30px;
    margin-left: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.min-height{
    height: 150px;
}

.delete-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-plan-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#plan-btn {
    /* margin-top: 10px !important; */
    display: block;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 2px 20px;
    margin: 2px 0;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 33%);
    cursor: pointer;
    height: 26px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    margin-top: 14px;
}

.plan-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#dis-btn{
    margin-top: 10px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dis-select{
    margin-left: 10px;
}

.dis-info{
    margin-bottom: 5px;
}

.btn-cont{
    margin: 0 auto;
}

.delete-action-frame {
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.delete-action-frame button{
    border-radius: 5px;
    width: 6rem;
}