.drill-container h2 {
    margin-left: 2rem;
    border-bottom: 1px solid;
    font-size: 2rem;
}

.drill-container {
    flex-direction: flex;
    justify-content: center;
}

.create-drill {
    margin: 16px;
    height: 37px;
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(189, 13, 1);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
}

.create-drill:hover {
    color: black;
    transition: all 0.25s;
}

.start-drill {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

input[type="date"] {
    font-family: 'Prompt', sans-serif; 
}

.start-drill label {
    margin-right: 20px;
}

.single-drill {
    margin: 20px;
    display: inline-block;
}

.drill-create-box {
    margin-top: 10%;
}

.drill-btn {
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
}

#review-submit-btn {
    display: block;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 2px 0;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 33%);
    cursor: pointer;
    height: 26px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 8px;
}



.action-step-update-modal .plan-error-container {
    height: 50px;
    margin-left: 22.5%;
    margin-right: 5%;
    margin-top: 1%;
}

.date-error {
    color: rgb(172, 0, 0);
    text-align: center;
    padding: 6px 0;
}

.hide {
    display: none;
}