.landing-container {
    width: 50rem;
    height: 60rem;
    background-color: hsla(194, 66%, 77%, 0.44);
    margin: 0 auto;
    border-radius: 20px;
}


.errors {
    color: rgb(191, 0, 0);
}

.errors li {
    width: 200px;
    list-style-type: disc;
    padding: 10px 0;
}

.error-container {
    height: 50px;
}

.landing-banner h1 {
    font-size: 6rem;
    text-align: center;
    font-weight: 500;
}

.landing-banner h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.landing-info {
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
    padding: 20px 0;
    font-weight: 200;
}


.image-container > img{
    max-width: 100%;
    opacity: 0.8;
}

.hero-image{
    flex-basis: 100%;
    margin: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 15px;
}

.signin_banner{
    display: flex;
    height: 700px;
    font-family: sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    /* flex-direction: row; */
}


.main-banner > img{
    width: 100%;
}

#banner-pic{
    opacity: 0.9;
    z-index: 0;
}

.banner-info{
    margin-top: -180px;
    z-index: 2;
    padding: 60px;
    font-family: sans-serif;
}

.banner-info > h2{
    font-size: 80px;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 15px hsla(194, 66%, 77%);
}

.banner-info > h4{
    padding-top: 20px;
    padding-left: 70px;
    font-size: 20px;
}

.main-section{
    margin-top: 77px;
    background-image: url(https://come-what-may.s3.amazonaws.com/images/roberto-nickson-smJ6XsYy8gA-unsplash.jpg);
    background-size: cover;
    height: 80vh;
    opacity: 0.9;
    position: relative;
}

.app-features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: hsla(194, 66%, 77%);
    max-width: 100vw;
}

.app-icon{
    color: white
}

.app-icon-sec{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20vw;
}

.app-icon-sec h4{
    color: rgb(62, 61, 61);
    text-align: center;
    font-size: 22px;
}

.icon-info{
    color: rgb(62, 61, 61);
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}

.app-icon-sec svg{
    font-size: 60px;
    padding: 20px;
    color: rgba(255, 0, 0, 0.721);
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: auto;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.55);
  padding: 25px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.container p{
    color: red;
    margin: 0 10px;
}

.icon-num{
    color: white;
    font-weight: 550;
    font-size: 20px;
}

.container:before,
.container:after {
  position: absolute;
  top: 100%;
  left: 48%;
  content: "";
  border: 30px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.70);
}
