.footer {
    width: 100%;
    height: 18.75rem;
    background-color: aliceblue;
    position: relative;
    top: 500px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-weight: 200;
}