.modal-background, .create-disaster-plan-modal-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(148, 132, 255, 0.81); */
  background: #4CA1AF; 
  /* background: -webkit-linear-gradient(to top, #C4E0E5, #4CA1AF);   */
  /* background: linear-gradient(to bottom, #C4E0E5, #4CA1AF);  */
  background-color: hsla(194, 66%, 77%, 0.44);

  padding: 50px 50px;
  border-radius: 20px;
  width: 500px;
}

.create-relative, 
.edit-form, 
.dis-plan-form {
    /* background: -webkit-linear-gradient(to top, #C4E0E5, #4CA1AF);  
    background: linear-gradient(to bottom, #C4E0E5, #4CA1AF); 
    border: 3px rgb(255, 255, 255) solid;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35); */

    background: #EAF7FF;
    background: -webkit-linear-gradient(bottom, #EAF7FF, #85D2FF);
    background: -moz-linear-gradient(bottom, #EAF7FF, #85D2FF);
    background: linear-gradient(to top, #EAF7FF, #85D2FF);
    padding: 10px;
    text-align: right;
}

.plan-error-container{
    height: 50px;
    margin-left: 21.5%;
    margin-right: 5%;
    margin-top: 2%;
}

.dis-plan-form {
    display: grid;
    font-size: 20px;
    text-align: center;
}

.plan-errors{
    color: #e50000;
    list-style-type: disc;
    text-align: initial;
}

.plan-errors li{
    margin-bottom: 5px;
    margin-top: 14px;
    color: #e50000;
}


.dis-plan-form h5{
  font-size:20px;
}

.dis-plan-form button {
    display: block;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 2px 0;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 33%);
}



.dis-type {
    display: flex;
    justify-content: center;
}

.how-fast-label {
    margin-top:10px;
}

.dist-select{
    padding-left:20px
}



.dis-plan-form > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.create-relative h2 {
      font-size: 20px;
    font-weight: 600;
}

.create-relative > div {
    padding: 5px;
}

.create-relative-header, .relative-header {
    display: flex;
    justify-content:space-between;
}

.create-relative-header svg, .relative-header svg{
   /* font-size: 20px;
   border: 1px solid black; */
}


.create-relative close-x {
    font-size: 30px;
    font-weight: 600;
}

.save-button {
    /* color: rgb(72, 72, 72);
    /* font-size: 20px; */
   
    /* border-color: azure; */

}

.create-relative-details {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: end;
}

.save-button {
    font-weight: 600;
    /* width: 100% ; */
    /* border: 1px solid rgb(252, 252, 252); */
    /* border-radius: 20px; */
    /* box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);  */

    width: 75%;
    /* margin: 0 auto; */
    margin-top: 20px;


     display: block;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0 auto;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
    height: 30px;
}

#edit-profile-errors{
    margin-top: 15px;
    margin-left: 40px;

}

#edit-profile-btn{
    margin-top: 20px;
}

#profile-edit-error{
    width: 300px;
}

#create-relative-errors,
#edit-relative-errors{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#relative-errors-create,
#relative-errors-edit{
    width: 300px;
    padding: 5px 0;
    text-align: left;
}

#household-size-edit{
    margin: 20px 10px;
    margin-top: 6px;
    border: 1px black solid;
    height: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -3px rgb(0 0 0 / 35%);
}

#edit-relative-error-space{
    padding-bottom: 40px;
}

#create-relative-error-space{
    padding-bottom: 40px;
}

