.disaster-show-frame {
    width: 900px;
    height: 500px;
    background-color: hsla(194, 66%, 77%, 0.70);
                                    /* was 44% ^^ */
    min-height: 600px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    padding-bottom: 50px;
}

.plan-crud-buttons {
        margin: auto 0;
}

.plan-crud-buttons button {
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
}

.plan-info h2 {
    font-size: 2rem;
    font-weight: 400;
}

.plan-info span {
    font-weight: 400;
}

.plan-info {
    font-weight: 200;
    padding: 6px 0;
    margin-right: 228px;
}

.plan-info-and-actions {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.plan-info-and-actions h4 {
    font-size: 1.5rem;
    font-weight: 200;
}

#create-action-btn {
    width: 6.25rem;
}

.create-action-button  button{
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
    width: 90%;
    margin-left: 32px;
}


.action-step-frame button{
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
}

.action-step-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 75%;
    margin-left: 10.9%;
}

.task-owner {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 13px;
    font-size: 19px;
}

.task-owner p{
    padding-left: 2rem;
    font-weight: 200;
}

.action-step-form-frame {
    display: flex;
    text-align: center;
    background: aliceblue;
    border-radius: 5px;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10px;
    width: 90%;
    margin: 12px auto;
    flex-direction: row-reverse;
    margin-bottom: -2px;
}

.modal-child-task{  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4CA1AF;
    background-color: hsla(193, 100%, 97%, 0.934);
    padding: 50px 50px;
    border-radius: 20px;
    width: 500px;
}

.create-drill{
    margin-bottom:10px;
    width: 150px;
}

.drill-container-flex {
    margin-left: 2rem;
    font-size: 1.5rem;
}
.drill-hist-container h2 {
    border-bottom: 1px solid black;
}

.task-btn {
    display: flex;
    align-items: center; 
}

.drill-hist {
    background: white;
    border: 1px solid black;
    padding-left: 14px;
    padding-top: 10px;
    width: 94%;
    margin-bottom: 10px;
}

.drill-hist p {
    font-weight: 200;
    padding-top: 6px;
}

.review label{
    display: flex;

}

textarea {
    font-family: sans-serif;
}

.plan-header-info {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.plan-header-info h4 {
    display: flex;
}

.plan-header-info span {
    text-align: center;
    font-size: 15px;
    padding: 4px 10px;
}

.plan-info h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-left: 10px;
}

h4#left-padding {
    padding: 10px;
}

.div-for-line {
    border-bottom: 1px solid black;
    width: 868px;
    margin-left: 32px;
}

#new-action-btn {
    width: 6rem;
}