.disaster-show-frame {
    width: 900px;
    height: 500px;
    background-color: hsla(194, 66%, 77%, 0.70);
                                    /* was 44% ^^ */
    min-height: 600px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    padding-bottom: 50px;
}

.plan-crud-buttons {
        margin: auto 0;
}

.plan-crud-buttons button {
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
}

.plan-info h2 {
    font-size: 2rem;
    font-weight: 400;
}

.plan-info span {
    font-weight: 400;
}

.plan-info {
    font-weight: 200;
    padding: 6px 0;
    margin-right: 6px;
    width: 600px;
}

.plan-info-container {
    margin-left: 3px;
    display: flex;
}

.plan-info-and-actions {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

.plan-info-and-actions h4 {
    font-size: 1.5rem;
    font-weight: 200;
}

#create-action-btn {
    width: 6.25rem;
}

.create-action-button  button{
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
    width: 90%;
    margin-left: 32px;
}


/* .action-step-frame button{
    margin: 16px;
    height: 37px;

    border: 1px rgb(255, 255, 255) solid;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
} */

.action-step-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 75%;
    margin-left: 10.9%;
}

.task {
    display: flex;
    justify-content: flex-start;
    padding: 13px;
    font-size: 19px;
    width: 100%;
    /* border: medium solid teal; */
}

.owner-of-task{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width: 180px;
    border-right: thin solid black;
    margin-right: 10px;
    /* border: thin solid fuchsia; */
}
.task h6 {
    text-decoration: underline;
    font-weight: 550;
}

.task-information{
    width: 100%;
    margin-left: 8px;
}

.task-information p {
    padding-top: 8px;
}

.owner-of-task p{
    padding-top: 8px;
}
.create-task-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: thin solid fuchsia; */
}

.create-task-top .action-owner input[type="text"] {
    /* margin-left: 27px; */
    width: 170px;
    margin-left: 36px;

}

.action-step-form{
    width: 100%;
}

.action-step-form h6{
    font-weight: 600;
    width: 150px;
    margin-top: 10px;
}

.action-owner input[type="text"] {
    margin-left: 38px;
    width: 170px;
}

.action-owner{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.action-task-details{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.create-task-info-input{
    height: 100%;
    width: 60%;
    border-radius: 5px;
    margin-left: 25px;
}

.create-action-step-modal-information{
    display: flex;
    justify-self: flex-start;
}

.action-step-form-frame {
    display: flex;
    text-align: center;
    background: aliceblue;

  /* new start */
    border-radius: 15px;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10px;
/*   new-end */
/*     border: medium solid yellow; */

    /* border-radius: 5px; */
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 10px;
    width: 90%;
    margin: 12px auto;
    flex-direction: row-reverse;
    margin-bottom: -2px;

}


.modal-child-task{  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4CA1AF;
    background-color: hsla(193, 100%, 97%, 0.934);
    padding: 25px 30px;
    border-radius: 20px;
    width: 515px;
}

.create-drill{
    margin-bottom:10px;
    width: 150px;
}

.drill-container-flex {
    margin-left: 2rem;
    font-size: 1.5rem;
}
.drill-hist-container h2 {
    border-bottom: 1px solid black;
}

.task-btn {
    display: flex;
    align-items: center; 
}

.drill-hist {
    background: white;
    border: 1px solid black;
    padding-left: 14px;
    padding-top: 10px;
    width: 94%;
    margin-bottom: 10px;
}

.drill-hist p {
    font-weight: 200;
    padding-top: 6px;
}

.review label{
    display: flex;

}

textarea {
    font-family: sans-serif;
}

.plan-header-info {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.plan-header-info h4 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.plan-header-info span {
    text-align: center;
    font-size: 15px;
    padding: 4px 10px;
}

.plan-info h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-left: 10px;
}

div#case-of {
    display: flex;
    padding: 10px;
}

.div-for-line {
    border-bottom: 1px solid black;
    width: 868px;
    margin-left: 32px;
}

#new-action-btn {
    width: 6rem;
}
.action-step-frame button{
    font-weight: 600;
    width: 75%;
    margin-top: 14px !important;
    display: block;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0 auto;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 33%);
    cursor: pointer;
    height: 30px;
    font-weight: 400;
}

.action-step-update-modal .plan-error-container {
    height: 50px;
    margin-left: 16.5%;
    margin-right: 5%;
    margin-top: 1%;
}

.action-step-form .plan-error-container .plan-errors {
    color: #e50000;
    list-style-type: disc;
    text-align: initial;
    margin-left: 18px;
}

.action-step-update-modal .plan-error-container .plan-errors li {
    margin-bottom: 5px;
    margin-top: 14px;
    margin-left: -33px;
    color: #e50000;
}

#action-task-owner {
    width: 170px;
    margin-left: 26px;
}

.action-step-update-modal .create-task-top .action-owner input[type="text"]{
    margin-left: 8px;
}