/* https://come-what-may.s3.amazonaws.com/confectionary.png
https://come-what-may.s3.amazonaws.com/pixel_weave.png
https://come-what-may.s3.amazonaws.com/topography.png */

body {
    min-width: 735px;
    /* background-image: url("https://come-what-may.s3.amazonaws.com/doodles.png"); */
    /* background-image: url("https://come-what-may.s3.amazonaws.com/topography.png"); */
    /* background-image: url("https://come-what-may.s3.amazonaws.com/pixel_weave.png"); */
    background-image: url("https://come-what-may.s3.amazonaws.com/confectionary.png");
    /* background-color: white; */
}
.profile-container {
    width: 100%;
    max-width: 1030px;
    height: fit-content;
    /* height: 400px; */
    /* margin: 0 auto; */
    /* background-color: antiquewhite; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 4%; */
    /* padding-bottom: 2%; */
    height: fit-content;
    /* margin: 0px 20px 20px 20px; */
    /* border: thick solid blue; */
}

.profile-container-main {
    display: flex;
    /* margin: 0 auto; */
    width: 100%;
    max-width: 1400px;
    height: fit-content;
    /* background-color: antiquewhite; */
    /* border-radius: 20px; */
    margin: 2rem auto;
    /* padding-bottom: 2%; */
    /* box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35); */
    justify-content: space-evenly;
    /* border: thick solid purple; */
}

.profile-details {
    padding: 10px;
    border: 1px black solid;
    /* background-image: url("https://come-what-may.s3.amazonaws.com/confectionary.png"); */
    background-color: aliceblue;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    display: flex;
    justify-content: center;
}

.profile-details-field-names{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-details-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile-details h3 {
    font-size: 1rem;
    padding: 10px;
    margin: 2px 0;
    /* text-align: right; */
    font-weight: 700;
}


.profile-details span {
    color: black;
}

#profile-btn {
    width: 50%;
    margin: 0 auto  !important;
    margin-top: 20px !important;
    padding: 2px 10px;
    height: 29px;
}




.dist-plans {
    margin: 0 auto;
    text-align: center;
}

.plan-item {
    width: 250px;
    height: 50px;
    background-color: white;
    margin: 10px auto;
    padding: 4px;
}


.edit-form-header {
    display: flex;
    justify-content: space-between;
}

.edit-form-container {
        text-align: right;
}

.edit-form-container button {
    display: block;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0 auto;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33);
    cursor: pointer;
    width: 50%;
}

.profile-info-format{
    width: 100%;
    max-width: 67%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: thin solid green; */
}

.relative-card-frame{
    width: 100%;
    height: 100%;
    /* border: medium solid yellowgreen; */
}

.exit-edit {
    border: 1px solid black;
    padding: 3px;
    font-size: 20px;
}

svg {
    font-size: 40px;
    padding: 0 4px;
    cursor: pointer;
}

.single-member {
    border: 1px black solid;
    box-shadow:  4px 4px 4px rgba(0,0,0,0.33)

}

.update-profile-btn {
    width: 100%;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 2px 0;
    background-color: rgb(175, 211, 255);
    text-align: center;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 33%);
    cursor: pointer;
}

.profile-container{
  
}


