.relative-container {
    min-width: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.single-member {
    width: 300px;
    height: fit-content;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 20px;;
    margin-top: 12px;
    display: flex;
    flex-direction: column;

}

.single-member > div > p{
    font-size: 1rem;
    padding: 3px 0;
}

.icon {
    width: 50px;
    height: 50px;
    align-self: flex-end;
}

.icon-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
}
.icon-btn {
    display: flex;
}

svg#edit-icon:hover{
    background-color: rgb(175, 211, 255);
    transition: all .15s;
    border-radius: 5px;
}
#delete-icon:hover{
    color: rgb(189, 38, 4);
    transition: all .15s;
    border-radius: 5px;
}


#user-icon {
    cursor:inherit;
}