
body {
    font-family: 'Prompt', sans-serif;
}

#plan-btn:hover, button:hover{
    color: rgb(220, 244, 244);
    transition: all .15s;
}

.plan-item:hover {
    background-color: rgb(166, 182, 182);
    color: rgb(204, 240, 240);
    transition: all .15s;  
 }

